
*{
    margin: 0;
    padding:0 ;
    box-sizing:border-box ;
    font-family: 'Roboto Condensed', sans-serif;
}

.header{
    width: 100%; 
    position: fixed;
    z-index: 1;    
}
.nav{   
    height: 50px; 
    display: flex;  
    justify-content: center;
    align-items: center; 
    background-color: white;
    box-shadow: 0px 3px 5px #af2828;
    position: -webkit-sticky;
    position: sticky;
}

.list_menu{
    padding: 100px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-left: 60px;
}

.linkmenu{
    text-decoration: none;
    color: black;    
}

.itemmenu{ 
    list-style: none; /* quita el punto */
    margin: 10px;    
}

.itemmenu:hover{
    padding-right:5px;
    border-right:2px solid #DC5C5D; 
    text-transform: uppercase;  
}

.contenedor{
    padding: 100px 0px 0px 0px;
    background-image: url(../assets/img/header.jpg);
    display: flex;    
    flex-direction: column;
    align-items: center;   
    height: 400px; 
    z-index: -1;   
}
.textosuperior{  
    padding: 50px 0px 0px 90px; 
    font-size: 100px;
    font-weight: bold;
    font-family: 'Reenie Beanie', cursive;
    letter-spacing: 20px;
    color: white;      
}

.textoinferior{
    padding: 0px 0px 0px 100px;
    margin-top: -20px;
    position: relative;
    font-size: 50px;
    letter-spacing: 24px;
    color:black;
    font-family: 'Reenie Beanie', cursive;   
}

footer{
    width: auto;
    height: 160px;
    background-color: #E07A5F;
    bottom: 0;
}

/* -----------------------main------------- */

main{    
    display: flex;
    justify-content: center;
    width: 80%;
}

.principal{
    background-color: white;
    width: auto;
    height: auto;
}

.intro{
    margin-top: 20px;
    
}

.intro::first-letter{
    color:#af2828;
    float:left;
    font-size:50px;
    margin: 0 auto;
}

.primeros{   /* titulos */
    color:#af2828;
    font-size:20px;
    margin-left: 10px;
}

.img{
    display: block;
    margin: auto;
    width: 150px;   
}

.cafe{
    display: block;
    width: 400px;
    margin:auto;

}

.grandes{
    display:flex;
    margin-left: 50px;
}

.tamaño{
    width: 400px;
    height: 233px;
}

.social_n{
    width: 100px;
    height: 300px;
    position: -webkit-sticky;
    position: sticky;
    top:100px;    
}
.redes{
    margin-right: 20px;
}
.centrado{
    margin-left: 200px;
    width: 60%;
    text-align: center;
}



/* --------------------- FOOTER ----------------------- */

.fab{
    font-size: 50px;
    color:#af2828;
    margin: 20px;
    font-size: 30px;
    text-align:center;
    vertical-align:middle ;
}

.items-f :hover{
    color: #3b5998;
}

.items-t :hover{
    color: #00acee;
}

.items-i :hover{
    background-image: linear-gradient(to top right, #feda75, #fa7e1e, #d62976, #962fbf,#4f5bd5);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
.items-w :hover{
    color: #000000;
}

.items-f, .items, .items-t, .items-i, .items-w{
    display: flex;
    justify-content: center;

}
.copyright{
    display: flex;
    justify-content: center;
    margin-bottom:10px;  
}
h2{
    color:black;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    
}
.github{
    text-decoration: none;
}
