
*{
    margin: 0;
    padding:0 ;
    box-sizing:0 ;
    font-family: 'Roboto Condensed', sans-serif;
}

.header{
    background-image: url(../assets/img/header.jpg);
    width: auto;
    height: 400px;   
}

.nav{   
    height: 50px; 
    display: flex;  
    justify-content: flex-end;
    align-items: center;
}

.list_menu{
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.linkmenu{
    text-decoration: none;
    color: white;    
}

.itemmenu{ 
    list-style: none; /* quita el punto */
    margin: 10px;    
}

.itemmenu:hover{
    color: #fde74c;
    padding-right:5px;
    border-right:2px solid white; 
    text-transform: uppercase;  
   
}
.textosuperior{
    position: absolute;
    top: 100px;
    left: 800px;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Reenie Beanie', cursive;
    letter-spacing: 20px;
    color: white;      
}

.textoinferior{
    position: absolute;
    top: 180px;
    left: 800px;
    font-size: 50px;
    letter-spacing: 25px;
    color:black;
    font-family: 'Reenie Beanie', cursive;   
}

main{
    width: auto;
    }

footer{
    width: auto;
    height: 160px;
    background-color: #E07A5F;
    bottom: 0;
}
/* --------------------- FOOTER ----------------------- */
.fab{
    font-size: 50px;
    color:white;
    margin: 20px;
    text-align:center;
    vertical-align:middle ;
}

.items-f :hover{
    color: #3b5998;
}

.items-t :hover{
    color: #00acee;
}

.items-i :hover{
    background-image: linear-gradient(to top right, #feda75, #fa7e1e, #d62976, #962fbf,#4f5bd5);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
.items-w :hover{
    color: #000000;
}
.social{
    padding:20px;
    display:flex;
    justify-content: center;
}

.redes{
    display: flex;
    margin-right: 20px;
}

.items-f, .items, .items-t, .items-i, .items-w{
    display: flex;
    justify-content: center;
    /* background-color: black; */

}
.copyright{
    display: flex;
    justify-content: center;
    margin-bottom:10px;  
}
h2{
    color:black;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    
}
.github{
    text-decoration: none;
}
