*{
    margin: 0;
    padding:0;
    box-sizing: border-box;    
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    background-color: white;
    position: fixed; /* necesario para que el sticky funcione */
    width: 100%;
    z-index: 1;
}
.nav{   
    height: 50px; 
    display: flex;  
    justify-content: center;
    align-items: center; 
    background-color: white;
    box-shadow: 0px 3px 5px #af2828;
    position: -webkit-sticky;
    position: sticky;
}
.list_menu{
    width: 480px;    
    display: flex;
    justify-content: space-around;
}
.linkmenu{
    text-decoration:none;
    color: black;    
}
.itemmenu{
    list-style:none;    
}
.itemmenu:hover{
    padding-right:5px;
    border-right:2px solid #DC5C5D; 
    text-transform: uppercase;  
}
.contenedor{
    background-image: url(../assets/img/header.jpg);
    display: flex;    
    flex-direction: column;
    align-items: center;   
    height: 400px; 
    width: 100%;
    z-index: -1;   
}
.textosuperior{  
    padding: 150px 0px 0px 90px; 
    font-size: 100px;
    font-weight: bold;
    font-family: 'Reenie Beanie', cursive;
    letter-spacing: 20px;
    color: white;      
}

.textoinferior{
    padding: 0px 0px 0px 100px;
    margin-top: -20px;
    position: relative;
    font-size: 50px;
    letter-spacing: 24px;
    color:black;
    font-family: 'Reenie Beanie', cursive;   
}

/* ------------MAIN---------------- */
main{
    width:100%;
    margin: 0;
    padding: 0;
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.superior, .inferior, .centro{
    width: auto;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sup_int, .inf_int, .cent_int{
    width: 100%;    
    /* background-color: royalblue; */
}
img{
    padding:5px ;
    width: 400px;
    opacity: 0.5;
   
}
main :hover{
    opacity: 1;
    transform: scale(1.1);
}

/* -----------------FOOTER------------- */
footer{
    width: auto;
    height: 160px;
    background-color: #E07A5F;
    bottom: 0;
    text-align: center;
   
}
.fab{
    font-size: 50px;
    color: black;
    margin: 20px;
    font-size: 30px;
    text-align:center;
    vertical-align:middle ;
}
.email{
    margin-top: 100px;
    text-decoration:none;
    color:#031C42 ;
}
.copyright{
    margin-top: 15px;
}
li{
    list-style: none;
}

/* ----------media queries------------ */

@media screen and (max-width:800px){
    .superior, .inferior, .centro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img{
        width: 100%;
        opacity: 1;
    }

    
}